body {
    margin: 0;
    background: rgb(219, 215, 215);
}

.white-background {
    margin: 10px auto;
    width: 90%;

}

p {
    margin: 5px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.page-name {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}


.folding-items,
.visible-item {
    padding: 20px;
    color: black;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.header-all-text {
    width: 40%;
}

.header-image img {
    width: 80%;
    height: 60%;
}

.ancor-button {
    margin: 30px 0;
}

.preebook-ancor {
    padding: 10px;
    color: black;
    background: #E02C6D;
    border-radius: 10px;
}

.market-places {
    margin: 100px 0;
    display: flex;
    justify-content: space-between
}

.popular-products {
    margin: 0 auto;
}

.popular-products-headline {
    width: fit-content;
    margin: 100px auto;
}

.products {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center
}

.popular-products a {
    color: #E02C6D;
    text-align: right;
    display: block;
}

.product-details {
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 10px;
    padding: 10px 5px;

}

.product-details h2 {
    font-size: 15px;
}

.product-details img {
    display: block;
    height: 50%;
    width: 90%;
    margin: 0 auto;

}

.rattings {
    display: flex;
    align-items: center;
}

.icons {
    color: gold;
}

.bottom-banner {
    margin: 50px auto;
    display: flex;
    align-items: center;
    width: 90%;
}

.bottom-banner-img {
    width: 50%;
}

.bottom-banner-img img {
    height: 100%;
    width: 90%;
}

.bottom-banner-text {
    width: 50%;
}

.bottom-banner-text p {
    margin: 20px 0;
}

.bottom-banner-text a {
    margin: 10px 0;
    color: #fff;
    padding: 10px;
    background-color: #E02C6D;
}

.footer-content {
    background-color: #0A0826;
    text-align: center;
    padding: 20px 0;
}

.footer-content h3 {
    color: #fff;
}

.footer-content-part2 {
    padding: 0 20px 20px 20px;
}

.footer-content-part2 p {
    color: #fff;
}

.footer-icons {
    margin: 10px 0;
}

.footer-icon {

    background-color: black;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
}